# Python
__pycache__/
*.py[cod]

# Ambientes e segredos locais
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Sistema operacional e editores
.DS_Store
Thumbs.db
.vscode/

# Arquivos temporários
*.log
*.tmp
